:root {
    --header-color:	#000; /* better green: #264; gray: #333; brown: #522200; green: #163; red: #622; /* original blue: #046; */  
    --link-color: #00e; /* better green: #486; gray: #555; brown: #8b4513; green: #195; red: #A32; /* original blue: #069; */
    --text-color: #111;
    --light-black: #999;
    --light-gray: #eee;
    --highlight-yellow: #ff3;
    --highlight-green: lime;
    --highlight-red: pink;
    --font-monospace: 'Source Code Pro', 'Fira Code', 'Consolas', 'Monaco', monospace;
    --font-body: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

body {
    max-width: min(100% - 20px, 900px); 
    margin-left: auto;
    margin-right: auto; 
    color: var(--text-color);
    background-color: #fefefe;
    line-height: 1.5; 
    font-size: 1em;
    font-family: var(--font-body);
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: var(--link-color);
}

a:hover {
    background-color: var(--highlight-yellow);
}

h1 {
    font-size: 2.2em;
    color: var(--header-color); 
}
h2 {
    font-size: 1.7em;
    color: var(--header-color);
}
h3 {
    font-size: 1.4em;
    color: var(--header-color);
}

h4 {
    font-size: 1.1em;
}

ins {
    background-color: var(--highlight-green);
}

del {
    background-color: var(--highlight-red);
}

table {
    border: 1px solid var(--light-black);
    border-collapse: collapse;
    margin-left: 20px;
}
th {
    border: 1px solid var(--light-black);
    background-color: var(--light-gray);
    padding: 0.5em;
}
td {
    border: 1px solid var(--light-black);
    padding: 0.5em;
}

blockquote{
    border-left: 4px solid #ccc;
    padding: 0.1em 0.4em;
}

summary {
  color:var(--link-color); 
}

pre{
    font-family: var(--font-monospace);
    padding: 0.3em;
    font-size: 1em;
    white-space: pre-wrap; 
    word-wrap: break-word; 
}
pre code {
    padding: none;
    border: none;
    background-color: inherit;
}

code{
    border:1px solid var(--light-black);
    background-color: var(--light-gray);
    font-size: 1em;
    border-radius: 3px;
    padding: 1px 2px;
}


div.sourceCode {
    padding: 0.3em;
    background-color: #eeffcc;
    border-radius: 3px;
    border: 1px solid rgb(170, 204, 153);
    line-height: 1.25em;   
    font-size: 1.2em;   
}

.navbar ul {
    width: 100%; 
    float: left;
    margin: 0 0 1.5em 0;
    padding: 0;
    list-style: none;
}

.navbar li {
    float: left; 
}

.navbar li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    background-color: var(--light-gray);
    border: 1px solid var(--light-black);
}

.navbar li a:hover {
    background-color: var(--highlight-yellow); 
}

.Theorem {
  border-radius: 10px;
  background-color: var(--light-gray);
  padding: 5px 10px 5px 10px;
  margin-bottom: 16px;
  border: 1px solid var(--light-black);
}
